                                        TUGAS PRAKTIKUM 01 - MACHINE LEARNING

Nama    : Imelda Wahyuni

Nim     : 0110222042

Sesi    : Pagi

                                                PENJELASAN DATASET                                                  
Dataset yang digunakan yaitu hour.csv yang berisi catatan aktivitas per jam yang dilengkapi dengan informasi waktu (tanggal, hari, bulan, tahun, jam), status hari kerja atau libur, serta kondisi lingkungan seperti cuaca, suhu, kelembaban, dan kecepatan angin. Data ini dapat digunakan untuk menganalisis pola aktivitas berdasarkan faktor waktu maupun lingkungan.

* IMPORT DATASET

In [1]:
import pandas as pd 

# Read the CSV with a comma delimiter 
df = pd.read_csv('../../Data/hour.csv', sep=',')

# cetak header data (5 baris data) dari file
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

* MEMBUAT DATAFRAME BARU

In [2]:
# Membuat dataframe baru df1
df1 = df[['instant','dteday','season','temp','hum','windspeed']]

# Cetak dataframe
print(df1.head())

   instant      dteday  season  temp   hum  windspeed
0        1  2011-01-01       1  0.24  0.81        0.0
1        2  2011-01-01       1  0.22  0.80        0.0
2        3  2011-01-01       1  0.22  0.80        0.0
3        4  2011-01-01       1  0.24  0.75        0.0
4        5  2011-01-01       1  0.24  0.75        0.0

* MENYIMPAN DATAFRAME BARU KE DALAM BENTUK FILE CSV

In [3]:
# Menyimpan dataframe ke file csv ke direktori baru
df1.to_csv('latihan01.csv', index=False)